{% extends "zap/templates/page.html" %}

{% block content %}
    {{ super() }}

    {% if page.slug and page.slug != "about-me" and page.slug != "about" %}
        <!-- Giscus Comments -->
        <script
            src="https://giscus.app/client.js"
            data-repo="thulasirajkomminar/thulasirajkomminar.com"
            data-repo-id="R_kgDOND_9_g"
            data-category="Q&A"
            data-category-id="DIC_kwDOND_9_s4Cjn6e"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
        </script>
    {% endif %}
{% endblock content %}
